@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Henny+Penny&family=Rubik+Distressed&display=swap');

/* navbar style */

.brand-logo {
    font-family: 'Rubik Distressed', cursive;
}

.menu-list{
    font-family: 'Henny Penny', cursive;
}

.menu-list a:hover {
    text-decoration: underline;
    color: #68dc64;
}

.brand-logo:hover {
    color: #68dc64;
}

.active {
    text-decoration: underline;
    color: #68dc64;
}

.mobile-menu {
    font-family: 'Henny Penny', cursive;
}

.mobile-menu a:hover {
    text-decoration: underline;
    color: rgb(3, 250, 3);
}

/* footer style */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

footer i {
   position: relative;
   color: #ffffff;
   padding: 4px;
}

footer i:hover {
    color: #68dc64;
}
