@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Henny+Penny&family=Rubik+Distressed&display=swap');

.brand-logo {
    font-family: 'Rubik Distressed', cursive;
}

.menu-list{
    font-family: 'Henny Penny', cursive;
}

.menu-list a:hover {
    text-decoration: underline;
    color: white;
}