@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Henny+Penny&family=Rubik+Distressed&display=swap');

* {
    margin: 0;
}

.GloriaHallelujah {
    font-family: 'Gloria Hallelujah', cursive;
    color:#68dc64;
}

/* navbar style */

.nav-wrapper {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

.brand-logo {
    font-family: 'Rubik Distressed', cursive;
}

.menu-list{
    font-family: 'Henny Penny', cursive;
}

.menu-list a:hover {
    text-decoration: underline;
    color: #68dc64;
}

.brand-logo:hover {
    color: #68dc64;
}

.mobile-menu {
    font-family: 'Henny Penny', cursive;
}

.mobile-menu a:hover {
    text-decoration: underline;
}

/* footer style */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-top: #68dc64 1px solid;
}

footer i {
   position: relative;
   color: #ffffff;
   padding: 4px;
}

footer i:hover {
    color: #68dc64;
}

.footer-text {
    font-family: 'Henny Penny', cursive;
}

/* index page style */

.btn {
    background-color: #68dc64;
    font-weight: 700;
    color: black;
    border-radius: 20px;
    font-family: 'Gloria Hallelujah', cursive;
}

.waves-effect.waves-grey .waves-ripple {
     background-color: rgba(91, 86, 84, 0.758);
   }

.txt-position {
    margin: 0;
    text-align: center;
}

.hero-txt {
margin: 0;
padding-top: 10rem;
font-family: 'Rubik Distressed', cursive;
color:#68dc64;
}

.about-txt {
    font-family: 'Gloria Hallelujah', cursive;
    color: whitesmoke;
}

h4 i {
    color: rgb(30, 255, 0);
    font-size: 1.5rem;
}

.section-title-box {
    background-color: rgb(26, 25, 25);
    padding: 1rem;
}

.row {
    margin: 0;
    padding-bottom: 3rem;
    background-color:rgb(29, 29, 29);
}

.box-bg {
    background:linear-gradient(rgb(70, 70, 70), rgb(60, 60, 60), rgb(40, 40, 40), rgb(30, 30, 30));
}

.col .row {
    padding: 2rem;
    background-color:rgb(26, 25, 25);
}

.box-one {
    background-color: rgb(26, 25, 25);
}

.section-title {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: underline wavy 0.3rem;
    color: #68dc64;
}
/* About us*/

.about-title {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #68dc64;
}

.about-txt {
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #68dc64;
}

.about-img {
    object-fit: cover;
    border-radius: 20px;
    height: 75%;
    width: 75%;
}

/* Reviews */
.rev-txt {
    font-family: 'Gloria Hallelujah', cursive;
    color: #68dc64;
}

.txt-position p {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(228, 228, 228);
}

.rev-two {
    border-left: #68dc64 solid 3px;
}

.rev-three {
    border-left: #68dc64 solid 3px;
}

.rev-img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 50%;
}

.rev-box {
    background-color: rgb(26, 25, 25);
}

.red-txt {
    color: rgb(255, 0, 0);
}

.blue-txt {
    color: blue;
}

.pink-txt {
    color: pink;
}

/* F.A.Q */
.faq-box {
    color: rgb(232, 242, 48);
    font-size: 1.5rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.collapsible-header {
    background-color: rgb(52, 52, 52);
}

.collapsible-body {
    background-color: rgb(26, 25, 25);
}

.collapsible {
    margin: 0;
    background-color: rgb(26, 25, 25);
    padding-bottom: 5rem;
    border: none;
}

.collapsible.popout>li.active {
    margin:0;
}

.join-sign-title {
    color: #68dc64;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding-top: 3rem;
}

.card-panel {
    padding: 1rem;
    background-color:rgb(26, 25, 25);
    border-radius: 20px;
}

.head-padding {
    padding-top: 3rem;
    background-color:rgb(26, 25, 25);
}

.txt-clr {
    color: #68dc64;
}

.row .col .blog-card {
    padding: 2rem 2rem 1rem 2rem;
}

.options {
    background-color: rgb(49, 47, 47);
    color: #68dc64;
}

textarea {
    width: 250px;
    height: 500px;
  }

.border {
    border-radius: 20px;
}

.content-border {
    padding: 2rem;
    border-radius: 10px;
    background-color: #424242;
}

.coment-bx {
    width: 400px;
    height: 100px;
    resize: none;
}

.resize-non {
    resize: none;
}

.list-padding {
    padding: 5rem 1rem 10rem 1rem;
}

.fixed {
    position: fixed;
    right: 0;
}

/* Flash Messages */
.flashes h4 {
    font-family: '.GloriaHallelujah', cursive;
    line-height: 2;
    background-color: #4e4d4d;
    color: #68dc64;
    margin: 0;
}

/* Responsivness */

@media screen and (max-width: 600px){

    .rev-one {
        border: #68dc64 solid 2px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    .rev-two {
        border: #68dc64 solid 2px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    
    .rev-three {
        border: #68dc64 solid 2px;
        border-radius: 10px;
    }

    iframe {
        width: 100%;
        height: 50%;
    }
}