{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey darken-3">
            <h3 class="center-align light-green-text grey darken-3"> Welcome {{ username }} ! </h3>
            <h5 class="center-align light-green-text grey darken-3"><em class="green-text">Create</em> a blog, 
                <strong class="white-text">edit</strong> your personal details or
                <strong class="red-text">delete</strong> your account.
            </h5>
        </div>
    </div>
</div>

<div class="row center">
    <div class="col s12 m8 offset-m2">
        <h4 class="txt-clr">Add you detials</h4>
    <form class="col s12" method="POST" action="{{ url_for('add_profile') }}">
        <!-- first name -->
        <div class="row">
                <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="fname" name="fname" type="text" minlength="3" maxlength="20" class="validate txt-clr" required/>
                        <label for="fname">First name:</label>
                </div>
        </div>
            <!-- last name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="lname" name="lname" minlength="3" maxlength="20" type="text" class="validate txt-clr" required/>
                    <label for="lname">Last name:</label>
                </div>
            </div>
            <!-- users email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="user_email" name="user_email" type="text" class="validate txt-clr" required/>
                    <label for="user_email">Email:</label>
                </div>
            </div>
            <!-- user number-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="phone_num" name="phone_num" type="text" class="validate txt-clr" required/>
                    <label for="phone_num">Phone number:</label>
                </div>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn-small light-green darken-3 text-shadow">Add Details</button>
            <!-- back button -->
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small orange darken-3">Cancel</a>
    </form>
    </div>
</div>

{% endblock%}