{% extends "base.html" %}

{% block content %}

<div>
    <h3 class="center-align join-sign-title grey darken-3">Get in touch</h3>
</div>


<div class="row grey darken-3">
  <form class="col s12 m8 offset-m2" method="POST">
   
    <div class="card-panel">
      
      <!-- username -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-cog prefix green-text"></i>
          <input
            id="username"
            name="username"
            type="text"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            class="validate green-text"
            required/>
          <label for="username">Username</label>
        </div>
      </div>
      
      <!-- email -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-solid fa-envelope prefix green-text"></i>
          <input
            id="email"
            name="email"
            type="email"
            class="green-text"
            required/>
          <label for="email">Email</label>
        </div>
      </div>
      
      <!-- message box -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-solid fa-pencil prefix green-text"></i>
        <textarea id="message" name="messagesummary" class="resize-non green-text" rows="4" cols="50"></textarea>
        <label for="message">Message</label>
        </div>
      </div>

      <!-- Send btn -->
      <div class="row center">
        <button type="submit" class="s12 btn waves-effect">
         Send <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}