{% extends "base.html" %}

{% block content %}

<div class="row head-padding">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey darken-3">
            <h3 class="center-align light-green-text grey darken-3"> Admin Dashboard </h3>
        </div>
    </div>
</div>

    <ul class="collapsible center">
        <li>
          <div class="collapsible-header white-text">Add new category</div>
          <div class="collapsible-body white-text">
            <p>Number of users: </p>
            <p>Number of blogs: </p>
          </div>
        </li>
        <li>
            <div class="collapsible-header white-text">Delete category</div>
            <div class="collapsible-body white-text">
              <p>Number of users: </p>
              <p>Number of blogs: </p>
            </div>
          </li>
        <li>
          <div class="collapsible-header white-text">User List</div>
          {% for user in users %}
          <div class="collapsible-body white-text">
             <div>
                    <p>{{ user.username }}</p>
                    <p>{{ user.fname }}</p>
                    <p>{{ user.lname }}</p>
                    <p>{{ user.user_email }}</p>
                    <a href="#modal1" class="btn red modal-trigger GloriaHallelujah">Delete</a>
                    <!-- Model -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <p class="black-text">You are about to delete the user.
                                If you wish to cancel press "Cancel".
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('dashboard') }}" class="btn-small lighten-1">Cancel</a>
                            <a href="#" class="btn-small red lighten-1">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>    
          </div>
        {% endfor %}
        </li>
      </ul>

{% endblock %}