{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey darken-3">
            <h3 class="center-align light-green-text grey darken-3"> Welcome {{ username }} ! </h3>
            <h5 class="center-align light-green-text grey darken-3"><em class="green-text">Create</em> a blog, 
                <strong class="white-text">edit</strong> your personal details or
                <strong class="red-text">delete</strong> your account.
            </h5>
        </div>
    </div>
</div>


<ul class="collapsible popout">
    <li>
        <div class="collapsible-header grey darken-2">
          <div class="col s12">
            <p class="green-text grey darken-2"><strong>Create a blog!</strong></p>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="green-text">Create your noise audit {{ username }}!</p>
           <a href="#" class="btn-small green lighten-1">Blog</a>
        </div>
    </li>
    <li>
      <div class="collapsible-header s12 m6 white-text grey darken-2">
        <div class="col s12 grey darken-2">
          <strong>Account details</strong>
        </div>
      </div>
      <div class="collapsible-body center">
        <form class="col s12" method="POST" action="{{ url_for('edit_profile', user_profile_id=details._id) }}">
            <!-- users username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username" value="{{ session[user] }}" type="text"/>
                    <label for="username">Username :</label>
                </div>
            </div>
            <!-- first name -->
            <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="fname" name="fname" value="{{ user_profile.fname }}" type="text" class="validate" required/>
                        <label for="fname">First name :</label>
                    </div>
            </div>
            <!-- last name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="lname" name="lname" value="{{ user_profile.lname }}" type="text" class="validate" required/>
                    <label for="lname">Last name :</label>
                </div>
            </div>
            <!-- users email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="user_email" name="user_email" value="{{ user_profile.user_email }}" type="text" class="validate" required/>
                    <label for="user_email">Email :</label>
                </div>
            </div>
        </form>
        <!-- cancel button -->
        <a href="{{ url_for('profile') }}" class="btn red text-shadow">Cancel</a>
        <!-- submit button -->
        <button type="submit" class="btn light-green darken-1 text-shadow">Edit Details</button>
      </div>
    </li>
    <li>
        <div class="collapsible-header white-text grey darken-2">
          <div class="col s12">
            <strong class="red-text grey darken-2">DangerZone</strong>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="red-text">If you wish to delete your account, please make sure that you made the right decision, as this 
              will delete your account and details permanently!</p>
           <a href="{{ url_for('delete_user', user_profile=details._id) }}" class="btn-small red lighten-1">Delete Account</a>
        </div>
    </li>
  </ul>

{% endblock%}