{% extends "base.html" %}

{% block content %}

<!-- Page Layout -->
<div class="row">

    <div class="col s12 m12 l12 box-bg txt-position">
        <h1 class="hero-txt">Welcome to NoiseAudit!</h1>
        <h4 class="about-txt">We are a community who enjoys reviewing stuff that includes anything with music! <i class="fa-solid fa-guitar"></i></h4>
        <a class="btn waves-effect waves-grey waves-ripple">Join</a>
    </div>

  </div>
  
  <div class="col s1 m1 l1 rev-title-box">
     <h3 class="rev-title">Reviews</h3>
  </div>

<!-- Review first -->
<div class="row">

    <div class="col s6 m6 l6 box-one txt-position">
        <h4 class="rev-txt">I love to be a Noise Auditor!</h4>
        <p>I love to review albums, singles and songs in general!</p>
        <p>Since i joined this website, I get to satisfy my Noise Auditing :D</p>
        <p>- Ian</p>
    </div>

    <div class="col s6 m6 l6 box-one txt-position">
        <h4 class="rev-txt">I love to be a Noise Auditor!</h4>
        <p>I love to review albums, singles and songs in general!</p>
        <p>Since i joined this website, I get to satisfy my Noise Auditing :D</p>
        <p>- Ian</p>
    </div>

</div>
<div class="divider"></div>
 <!-- Review second -->
<div class="row">
    <div class="col s6 m6 l6 box-one txt-position">
        <h4 class="rev-txt">Noise Auditor the best gear reviews!!!</h4>
        <p>Since joining this community, I always find the best gear.</p>
        <p>I have no regrets, definitely one of the best, if not the best music review site \m/</p>
        <p>- Hermann Lee</p>
    </div>

    <div class="col s6 m6 l6 box-one txt-position">
        <h4 class="rev-txt">Noise Auditor the best gear reviews!!!</h4>
        <p>Since joining this community, I always find the best gear.</p>
        <p>I have no regrets, definitely one of the best, if not the best music review site \m/</p>
        <p>- Hermann Lee</p>
    </div>

</div>

<h1>F.A.Q</h1>
{% endblock %}