{% extends 'base.html' %}

{% block content %}

{% if list_of_blogs|length > 0 %}
    {% for blog in list_of_blogs %}
        <div class="row grey darken-2 list-padding head-padding">
            {% if session['user'] == blog.created_by %}
                <div class="col s12 m6 l4 center">
                    <div class="card small hoverable border blog-card grey darken-4">
                        
                        <div class="card-content white-text">
                            <span class="card-title red-txt GloriaHallelujah">{{ blog.blog_title}}</span>
                            <p class="GloriaHallelujah">Author: {{ blog.created_by }}</p>
                            <p class="GloriaHallelujah">Date: {{ blog.created_date }}</p>
                            <p class="GloriaHallelujah">Category: {{ blog.category_name }}</p>
                        </div>
                        <div class="border grey darken-4">
                            <a href="{{ url_for('read_blog', blog_id=blog['_id']) }}" class="btn green GloriaHallelujah">Read</a>
                            <a href="{{ url_for('edit_blog', blog_id=blog['_id']) }}" class="btn orange GloriaHallelujah">Edit</a>
                            <a href="{{ url_for('delete_blog', blog_id=blog['_id']) }}" class="btn red GloriaHallelujah">Delete</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row grey darken-2 list-padding head-padding">
                    <div class="row list-padding">
                        <div class="col s12 m8 offset-m2">
                            <h3 class="red-text GloriaHallelujah center-align">No Blogs Found :(</h3>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}





{% blockend %}