{% extends "base.html" %}
{% block content %}

<div class="row head-padding">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey darken-3">
            <h3 class="center-align light-green-text grey darken-3"> Welcome {{ username }} ! </h3>
            <h5 class="center-align light-green-text grey darken-3"><em class="green-text">Create</em> a blog, 
                <strong class="white-text">edit</strong> your personal details or
                <strong class="red-text">delete</strong> your account.</h5>
        </div>
    </div>
</div>


<ul class="collapsible popout">
    <li>
        <div class="collapsible-header grey darken-2">
          <div class="col s12">
            <p class="green-text grey darken-2"><strong>Create a blog!</strong></p>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="green-text">Create your noise audit {{ username }}!</p>
           <a href="#" class="btn-small green lighten-1">Blog</a>
        </div>
    </li>
    <li>
      <div class="collapsible-header s12 m6 white-text grey darken-2">
        <div class="col s12 grey darken-2">
          <strong>Account details</strong>
        </div>
      </div>
      {% if user_details|length > 0 %}
      <div class="collapsible-body center">
        
        {% for detail in user_details %}
        <p>First Name: {{ detail.fname }}</p>
        <p>Last Name: {{ detail.lname }}</p>
        <p>Email: {{ detail.user_email }}</p>
        <p>Num: {{ detail.phone_num }}</p>
        {% endfor %}

        {% if session.user|lower == detail.profile_by|lower %}
        <!-- adding -->
        <a href="#" class="btn-small orange darken-3">Add Details</a>
        <!-- editing -->
         <a href="#" class="btn-small light-blue lighten-1">Edit Details</a>
        {% endif %}
      </div>
      {% endif %}
    </li>
    <li>
        <div class="collapsible-header white-text grey darken-2">
          <div class="col s12">
            <strong class="red-text grey darken-2">DangerZone</strong>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="red-text">If you wish to delete your account, please make sure that you made the right decision, as this 
              will delete your account and details permanently!</p>
           <a href="{{ url_for('delete_user' , username=username )}}" class="btn-small red lighten-1">Delete Account</a>
        </div>
    </li>
  </ul>

{% endblock %}