{% extends "base.html" %}
{% block content %}

<div class="row head-padding">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey darken-3">
            <h3 class="center-align light-green-text grey darken-3"> Welcome {{ username }} ! </h3>
            <h5 class="center-align light-green-text grey darken-3"><em class="green-text">Create</em> a blog, 
                <strong class="white-text">edit</strong> your personal details or
                <strong class="red-text">delete</strong> your account.</h5>
        </div>
    </div>
</div>


<ul class="collapsible popout">
    <li>
        <div class="collapsible-header grey darken-2">
          <div class="col s12">
            <p class="green-text grey darken-2"><strong>Create a blog!</strong></p>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="green-text">Create your noise audit {{ username }}!</p>
           <a href="{{ url_for('add_blog') }}" class="btn-small green lighten-1">Blog</a>
        </div>
    </li>
    {% for user in users %}
    {% if session.user == user.username %}
    <li>
        <div class="collapsible-header grey darken-2">
          <div class="col s12">
            <p class="white-text grey darken-2"><strong>Account Details</strong></p>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="green-text">Username: {{ user.username }}</p>
          <p class="green-text">First Name: {{  user.fname }}</p>
          <p class="green-text">Last Name: {{  user.lname }}</p>
          <p class="green-text">Email: {{  user.user_email }}</p>
           <a href="{{ url_for('edit_details', user_id=user['_id']) }}" class="btn-small purple lighten-1">Edit Details</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header white-text grey darken-2">
          <div class="col s12">
            <strong class="red-text grey darken-2">DangerZone</strong>
          </div>
        </div>
        <div class="collapsible-body center">
          <p class="red-text">If you wish to delete your account, please make sure that you made the right decision, as this 
              will delete your account and details permanently!</p>
           <!-- Modal Trigger -->
           <a class="btn-small red lighten-1 modal-trigger" href="#modal1">Delete Account</a>

           <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>Sad to see you go {{ username }} :(</h4>
                <p>If you wish to delete your account, please make sure that you made the right decision, as this 
                    will delete your account and details permanently!</p>
                <p>Otherwise press "BACK" or click outside the modal box.</p>
                </div>
                <div class="modal-footer">
                <a href="{{ url_for('profile', username=session['user'] ) }}" class="btn-small red lighten-1">Back</a>
                <a href="{{ url_for('delete_user', user_id=user['_id']) }}" class="btn-small red lighten-1">Delete</a>
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

{% endblock %}