{% extends "base.html" %}

{% block content %}


<div class="row grey darken-1 head-padding">

    <div class="col s12 m8 l10 offset-m2">
        <div class="card-panel center grey darken-4">
            <h1 class="red-text GloriaHallelujah">{{ list_of_blogs.blog_title}}</h1>
            <h5 class="green-text GloriaHallelujah">Author: {{ list_of_blogs.created_by }}</h5>
            <h5 class="green-text GloriaHallelujah">Date: {{ list_of_blogs.created_date}}</h5>
            <h5 class="green-text GloriaHallelujah">Category: {{ list_of_blogs.category_name }}</h5>
            <div class="valign-wrapper content-border">
             <p class="white-text GloriaHallelujah">{{ list_of_blogs.blog_content }}</p>
            </div>
        </div>
    </div>

    <div class="grey darken-4 fixed">
        <div class="col hide-on-small-only m4 l2 grey darken-4">
          <ul class="section table-of-contents">
            <li><a href="{{ url_for('get_blogs') }}" class="GloriaHallelujah">Back</a></li>
            <li><a href="#" class="GloriaHallelujah">Bookmark</a></li>
            <li><a href="{{ url_for('add_comment', blog_id=list_of_blogs['_id']) }}" class="GloriaHallelujah">Comment</a></li>
            {% if session['user'] == list_of_blogs.created_by %}
            <li><a href="{{ url_for('edit_blog', blog_id=list_of_blogs['_id']) }}" class="GloriaHallelujah">Edit</a></li>
            <li><a href="{{ url_for('delete_blog', blog_id=list_of_blogs['_id']) }}" class="GloriaHallelujah">DeleteBlog</a></li>
            {% endif %}
          </ul>
        </div>
    </div>

    <!-- comment-bx -->
    <div class="col s12 m8 l10 offset-m2">
        <div class="card-panel center main-border">
                <div class="card-panel grey darken-3">
                    <h3 class="GloriaHallelujah">Comment Section</h3>
                </div>
                <!-- rel-comment-bx -->
                {% if related_comment|length > 0 %}
                <div class="row">
                    {% for comment in related_comment %}
                            <div class="card-panel">
                                <h6 class="GloriaHallelujah">{{ comment.comm_date }} </h6>
                                <h6 class="GloriaHallelujah">{{ comment.comm_by }} says: </h6>
                                <div class="valign-wrapper">
                                    <p class="GloriaHallelujah">{{ comment.comm_content }}</p>
                                </div>
                            </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
    </div>

</div>

{% endblock %}